<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ua.kiev.home.sergiosiniy.cookyourself">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ReadyForCook"
            android:label="@string/title_activity_ready_for_cook"
            android:parentActivityName=".Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.kiev.home.sergiosiniy.cookyourself.Main" />
        </activity>
        <activity android:name=".Recipe"
            android:label="@string/title_activity_recipe"
            android:parentActivityName=".ReadyForCook">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ua.kiev.home.sergiosiniy.cookyourself.ReadyForCook" />

        </activity>
    </application>

</manifest>